extends admindashboard
block content
    .row
      .holder
        h1 
         .grid-container
           each review in reviews
            .item
             h1.itemtitle #{review.name}
             p.itemp #{review.content}
             a.button(href="/editreviews/#{review.id}") Update
             a.button(href="/deletereview/#{review.id}") Delete 