extends layout
block content
    .row
     h1 
     .panel
      h1 Thank you for your order.
      script.
         $(document).ready(function(){
         $(".panel").hide()
         });
         $(document).ready(function(){
         $(".panel").show(800)
         });