extends layout
block content
  .row
  h1
   .panel
    h1 Motorbikes
    p &nbsp;&nbsp;
    h2 Address: 7 Straffan Law, Maynooth, Co.Kildare
    h2 E-mail: arek@gmail.com
    h2 Phone number: 098678954
    p &nbsp;&nbsp;
      #map
      script.
        function initMap(){
        // Map options
        let options = {
        zoom:15,
        center:{lat:53.381290,lng:-6.591850}
        }
        // New map
        let map = new google.maps.Map(document.getElementById('map'), options);
       
        // Array of markers
        let markers = [
        {
        coords:{lat:53.381290,lng:-6.591850},
        iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
        content:'<h1>Motorbikes</h1>'
        }
        ];
        // Loop through markers
        for(let i = 0;i < markers.length;i++){
        // Add marker
        addMarker(markers[i]);
        }
        // Add Marker Function
        function addMarker(props){
        let marker = new google.maps.Marker({
        position:props.coords,
        map:map,
        //icon:props.iconImage
        });
        // Check for customicon
        if(props.iconImage){
        // Set icon image
        marker.setIcon(props.iconImage);
        }
        // Check content
        if(props.content){
        let infoWindow = new google.maps.InfoWindow({
        content:props.content
        });
        marker.addListener('click', function(){
        infoWindow.open(map, marker);
        });
        }
        }
        }
      script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBxsTXGt7L6e44h5qOQ4uPuGnDitY2LfS4&callback=initMap')
      