extends layout
block content
    .row
    .h1
     .formHold
      h1.itemtitle  Log-In to your account 
      form(method="post")
        fieldset
         label(for="name") User Name:
         input(name="name", type="text", placeholder="Name") 
         label(for="password") Password:
         input(name="password", type="text", placeholder="Password")
         button.button(type="submit") Log-In
        script.
         $(document).ready(function(){
         $(".formHold").hide()
         });
         $(document).ready(function(){
         $(".formHold").show(800)
         });